
// Typography
$default-font: 'Hind', sans-serif;
$header-font: 'Poppins', sans-serif;

// Colors
$black: #1D1D1D;
$dark-grey: #2D2D2D;
$grey: #EEEEEE;
$white: #FCFCFC;
$yellow: #FFB600;
$blue: #00A1DF;
