.blog {
  &__post {
    margin-bottom: 1rem;
    flex: 1 1 30%;
    max-width: calc(33.33% - 0.5rem);

    &:nth-child(3n+2){
      margin: 0 1rem 1rem;
    }

    &--featured {
      max-width: 100%;
    }
  }
}