.blog {
  &__post {
    margin-bottom: 1rem;
    flex: 1 1 30%;
    max-width: calc(33.33% - 0.5rem);
    background-color: $white;

    display: flex;
    flex-direction: column;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.16);
    color: $dark-grey;

    &:nth-child(3n+2){
      margin: 0 1rem 1rem;
    }

    strong:first-child {
      display: inline-block;
      margin-bottom: 0.625rem;
      font-family: $header-font;
      color: $blue;
      font-weight: 700;
      text-transform: uppercase;
    }

    h5 a{
      font-size: 1rem;
      color: $dark-grey;
    }

    &__author,
    &__date {
      margin-bottom: 0;
    }

    &__col {
      &--img{
        position: relative;
        height: 0;
        overflow: hidden;
        padding-top: 56.25%;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
        }
      }

      &--content {
        position: relative;
        padding: 30px;
      }

    }

    &--featured {
      max-width: 100%;
      flex-direction: row;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.16);

      h5 a{
        font-size: 1.5rem;
      }

      .blog__post__col {
        &--img {
          flex: 1 1 60%;
          height: auto;
          padding: 0;

          img {
            position: static;
            height: 100%;
          }
        }

        &--content {
          flex: 1 1 40%;
        }

        &__bottom {
          position: absolute;
          bottom: 30px;
        }
      }
    }
  }
}